@charset "utf-8";
/* Menu items */



.menu {
	font:1em Georgia;
	list-style:none;
	padding:0;
	margin:0;
	background:#548B54;
	text-transform:uppercase;
	border-bottom:3px solid #000;
	border-top:1px solid #ddd;
	font-weight:bold;
}

.menu li {
	display:inline-block;
	zoom:1
	*display:inline;
	padding:5px 15px 4px 15px;
	
}

.menu li a:link, .menu li a:visited, .menu li a:hover, .menu li a:active {
	color:black;
	text-decoration: none;
	line-height:1.6em
}

.menu li a:hover {
	color:#90EE90;
	background:#548B54;
}

.menu li.selected {
	background:#000;
}

.menu li.selected a {
	color:white;
	background:black;
}

.menu li.selected a:hover {
	color:#90EE90;
}

/* formatting */



h1 {
	color:darkred;
}

ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}

ul li input[type="number"].small_text {
    width:50px;
}

input[type="submit"] {
	min-width:150px;
	height:50px;
	background:#306EFF;
	font-size:24pt
}

/* Containers */
body {
    background:#7cb4eb;
}
#container {
	padding-left:20px;
	padding-right:20px;
	min-height:900px;
	max-width:1300px;
	background:7cb4eb;
	margin:5px auto 0px auto;
}

#menu_container {
	height:20px;
	width:960px;

	background:lightgray;
	border-bottom:3px solid black;
	margin:5px auto 0px auto;
}

#grid_container {
	position:absolute;
	padding:15px;
	width:1253px;
	padding-left:50px;
	background:lightgray;
	margin:0px auto 0px auto;
}

footer {
	
    background:lightgray;
    width:1150px;
    margin:auto;
    padding:20px;
	border-radius:0;
}

/* Blocks */

.block {
	position:relative;
	float:left;
	width:78px;
	height:44px;
	background:#0A97FF;
	color:white;
	text-align:center;
	padding-top:10px;
	border:1px solid black;
	margin: 2px;
	z-index:9999;
	overflow:hidden;
	line-height: 13px;
	font-size: 14px;
}

.block.hidden {
	visibility: hidden;
}

.block a:link, .block a:visited, .block a:hover, .block a:active  {
color:#fff;
text-decoration: none;
}

/* Clear */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{outline:0;}
    #cboxTopLeft{width:25px; height:25px; background:url(/images/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(/images/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(/images/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(/images/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(/images/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(/images/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(/images/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(/images/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxLoadingOverlay{background:#fff url(/images/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}